*{
  margin: 0;
  padding: 0;
}

.App{
  background-color: #464d6a;
  background: url('../../assets/background.png');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;

}
