button{
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    padding: 20px 0;
    width: 100%;
    
}

button:hover{
    background-color: #652435;
    cursor: pointer;
    scale: 1.03;
}